{% extends "custom_admin/generic_list.html" %}
{% block list_title %}التعليقات{% endblock %}
{% block list_headers %}
  <th>السؤال</th>
  <th>المستخدم</th>
  <th>مفيد؟</th>
  <th>التعليق</th>
  <th>التاريخ</th>
{% endblock %}
{% block list_rows %}
  {% for fb in items %}
    <tr>
      <td>{{ fb.faq.question|truncatechars:40 }}</td>
      <td>{{ fb.user.email|default:"-" }}</td>
      <td>{{ fb.helpful|yesno:"نعم,لا" }}</td>
      <td>{{ fb.comment|default:"-"|truncatechars:50 }}</td>
      <td>{{ fb.created_at|date:"Y-m-d H:i" }}</td>
    </tr>
  {% empty %}
    <tr><td colspan="5">لا توجد تعليقات</td></tr>
  {% endfor %}
{% endblock %}
